<div>
        <div class="container">
                <div class="head">Why THE VEHICLE FACTORY?</div>
                <span class="subheading">Reserve wheels when you want them, by the hour or day, and only pay for the
                        time you
                        drive.</span>
        </div>


        <ul class="grid">
                <li class="grid-item" (click)="rent()"><img src="../../assets/serviceAssets/rent.jpg" alt="Image">
                        <button class="btn btn-lg btn-dark btns" (click)="rent()">Rent</button>
                </li>

                <li class="grid-item" (click)="ride()"><img src="../../assets/serviceAssets/share.jpg" alt="Image">
                        <button class="btn btn-lg btn-dark btns" (click)="ride()">Share</button>
                </li>

                <li class="grid-item" (click)="trip()"><img src="../../assets/serviceAssets/truck.jpg" alt="Image">
                        <button class="btn btn-lg btn-dark btns" (click)="trip()">Truck Trip</button>
                </li>
                <br><br>

        </ul>
        <div class="find-ride">
                <h1 class="head1">Find your drive</h1>
                <p class="para">The Vehicle Factory is the world’s largest car sharing marketplace where you can book
                        any car
                        you want,
                        wherever you want it, from a vibrant community of trusted hosts across the Pune,Mumbai ,Nashik.
                        Whether
                        you're flying in from afar or looking for a car down the street, searching for a rugged truck or
                        something smooth and swanky, guests can take the wheel of the perfect car for any occasion,
                        while hosts
                        can take the wheel of their futures by building an accessible, flexible, and scalable car
                        sharing
                        business from the ground up.</p>

        </div>

        <div class="row ">
                <div class="column icons">

                        <img src="../../assets/serviceAssets/image1.png" alt="Image">

                        <h5>Save money</h5>
                        <p>TVF covers gas, insurance options,* parking, and maintenance for a potential savings of
                                $1000/month over car ownership.</p>
                </div>
                <div class="column icons">

                        <img src="../../assets/serviceAssets/image2.png" alt="Image">

                        <h5>Cars near you</h5>
                        <p>TVF live in your local neighborhood, and in cities, campuses and airports across the
                                globe.</p>
                </div>
                <div class="column icons">

                        <img src="../../assets/serviceAssets/image3.png" alt="Image">

                        <h5>Drive on-demand</h5>
                        <p>No waiting in line at the counter. (No need to even search for your keys!) Just book and go.
                        </p>
                </div>
        </div>
</div>