<div>
    <div class="about_section layout_padding">
        <div class="container">
            <div class="about_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image_iman"><img src="../../assets/dashboardAssets/img3.jpg" class="about_img">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_taital_box">
                            <h1 class="about_taital">About <span style="color: #fe5b29;">Us</span></h1>
                            <p class="about_text">At Vehicle Factory, we are proud to provide exceptional ride sharing
                                and car rental services that cater to your transportation needs. Our mission is to offer
                                convenient, reliable, and affordable options that enhance your travel experience.We
                                understand the value of convenience in today's fast-paced world. Our ride sharing and
                                car rental services are designed to make your journeys seamless and hassle-free. Whether
                                you prefer the flexibility of ride sharing or the independence of car rental, we have
                                the perfect solution to suit your preferences.</p>
                            <p class="about_text">We maintain a diverse fleet of vehicles, ranging from compact cars to
                                spacious SUVs, to accommodate various passenger capacities and luggage requirements.
                                With our extensive selection, you can choose the ideal vehicle for your needs, whether
                                it's a solo trip, a family vacation, or a business outing.</p>
                            <p class="about_text"> Your safety is our top priority. We have implemented rigorous safety
                                measures to ensure that every ride and rental is secure. Our vehicles undergo regular
                                maintenance and inspections, and our drivers undergo thorough background checks. Rest
                                assured, you're in safe hands with us.</p>

                            <div class="readmore_btn"><a (click)="toLogin()">Read More</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>