<!-- header section end -->
<div><div class="call_text_main">
    <div class="container">
        <div class="call_taital">
            <div class="call_text"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_15">A
                    truly seamless experience</span></div>

        </div>
    </div>
</div>
<!-- banner section start -->
<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="banner_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="banner_taital_main">
                                <h1 class="banner_taital">Car Rent <br><span style="color: #fe5b29;">For You</span></h1>
                                <p class="banner_text">We offer car rental services that are tailored just for
                                    you.Whether you're a frequent traveler, a family in need of extra space,we have the
                                    perfect car for your unique needs.</p>
                                <div class="btn_main">
                                    <!-- <div class="contact_bt" (click)="toRent()"><a>Read More</a></div> -->
                                    <div class="contact_bt active" (click)="toContact()"><a>Contact Us</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner_img"><img src="../../assets/dashboardAssets/banner-bg.png"></div>
            </div>
        </div>
    </div>
</div>
<div class="about_section layout_padding">
    <div class="container">
        <div class="about_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="image_iman"><img src="../../assets/dashboardAssets/shareCar.jpg" class="about_img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_taital_box">
                        <h1 class="banner_taital">Car Share <br><span style="color: #fe5b29;">For You</span></h1>
                        <p class="banner_text">Our car sharing service is designed with your convenience and lifestyle
                            in mind. We understand that you value flexibility, affordability, and eco-friendly
                            transportation options. </p>
                        <div class="btn_main">
                            <!-- <div class="contact_bt" (click)="toRide()"><a>Read More</a></div> -->
                            <div class="contact_bt active" (click)="toContact()"><a>Contact Us</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div>
                                <h1 class="banner_taital">Truck Trip <br><span style="color: #fe5b29;">For You</span>
                                </h1>
                                <p class="banner_text">Truck Trip Division is here to provide reliable and efficient
                                    solutions.Now you can stay with your loved loves. No need to travel for days</p>
                                <div class="btn_main">
                                    <!-- <div class="contact_bt" (click)="toTrip()"><a>Read More</a></div> -->
                                    <div class="contact_bt active" (click)="toContact()"><a>Contact Us</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="truck-img"><img src="../../assets/dashboardAssets/trucks.jpg"></div>
            </div>
        </div>
    </div>
</div>




<!-- choose section start -->
<div class="choose_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="choose_taital">WHY CHOOSE US</h1>
            </div>
        </div>
        <div class="choose_section_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon_1"><img src="../../assets/dashboardAssets/icon-1.png"></div>
                    <h4 class="safety_text">SAFETY & SECURITY</h4>
                    <p class="ipsum_text">Your safety and security are our top priorities. We understand the importance
                        of providing a secure and worry-free experience for our customers</p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="../../assets/dashboardAssets/icon-2.png"></div>
                    <h4 class="safety_text">Online Booking</h4>
                    <p class="ipsum_text">We understand the importance of convenience and efficiency when it comes to
                        booking your transportation. </p>
                </div>
                <div class="col-sm-4">
                    <div class="icon_1"><img src="../../assets/dashboardAssets/icon-3.png"></div>
                    <h4 class="safety_text">Best Drivers</h4>
                    <p class="ipsum_text">The safety of our passengers is our utmost priority. Our drivers undergo
                        rigorous training and adhere to strict safety protocols. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- choose section end -->
<div class="cust">
    <h1>Happy Customers</h1>
</div>

<!-- client section start -->
<div class="content-section implementation carousel-demo">
    <div class="card">
        <p-carousel [value]="images" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true"
            [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
            <ng-template let-image pTemplate="item">
                <div class="item card">
                    <img src="{{image.picture}}" class="card-img-top" alt="...">
                    <div class="card-body">

                        <h6 class="card-text">{{image.random}}</h6>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of
                            the card's content.</p> -->
                        <a href="#" class="btn btn-primary">Explore More</a>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<app-about-us></app-about-us>

<!-- client section end --></div>