<ngx-ui-loader
  fgsColor="#FF4081"
  pbColor="#FF4081"
  text="Please wait.."
  textColor="#FF4081"
></ngx-ui-loader>
<div ngxUiLoaderBlurred>
<app-header></app-header>
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-ride-sharing></app-ride-sharing> -->
<!-- <app-trip-division></app-trip-division> -->
<!-- <app-user></app-user> -->
<!-- <app-carousel></app-carousel> -->
<!-- <app-register></app-register> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>

