<div class="container">
    <h3>Available Bikes</h3>
    <div class="bike-container">
        <mat-card *ngFor="let rentBikes of availableBikes">
            <img src="{{ rentBikes.bike_image }}" class="bike-image" alt="Bike Image">
            <mat-card-content>
                <p><strong>Name:</strong> {{ rentBikes.name }}</p>
                <p><strong> Model:</strong> {{ rentBikes.model }}</p>
                <p><strong>Brand:</strong> {{ rentBikes.brand}}</p>
                <p><strong> Year:</strong> {{ rentBikes.year }}</p>


                <p><strong>Hourly Charge:</strong> {{ rentBikes.hourlyCharge }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button class="btn btn-lg btn-dark btns" (click)="bookBike(rentBikes)">Book</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>