body {
  background-color: #EEEEEE;
}

.container {

  position: relative;
}

img {
  height: 100%;
  width: 180vh;
  display: block;
}

.img-container {
  height: 100%;
  width: 180vh;
  position: relative;
}

.content {
  width: 150vh;
  height: 60vh;
  background-color: #fe5b29;
  color: white;
  position: absolute;
  top: 120vh;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  text-align: center;
}

.heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  padding: 20px;
  text-align: center;
}

.heading .head {
  font-size: 50px;
  font-weight: 500;
}

.heading .sub {
  font-size: 20px;
}

.space {
  margin-right: 20px;
}


.how {
  text-align: center;
  margin: 20px;
}

.how-heading {
  color: #fe5b29;
  font-size: 24px;
  font-weight: bold;
}

.how-content {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.how h2 {
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
}

.how img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.custom-carousel {

  max-width: 800px;
  margin-top: 20vh;
}


.available {
  margin-top: 50vh;
  background-color: black;
  font-size: 30px;
  color: white;
  align-items: center;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
  font-weight: 150;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif
}

.available1 {
  margin-top: 10vh;
  background-color: black;
  font-size: 30px;
  color: white;
  align-items: center;
  text-align: center;

  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
  font-weight: 150;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif
}

.item {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.item:hover {
  transform: scale(1.1);
}

.card-img-top {

  width: 100%;
  height: auto;
}

.card-body {

  padding: 10px;
}

.card-title {

  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {

  font-size: 14px;
}

.btn-primary {

  background-color: #fe5b29;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
}

.btn-primary:hover {
  background-color: #811f01;
}

.car-image {
  height: 200px;
  width: 300px;

  object-fit: cover;

  overflow: hidden;

  position: relative;

  z-index: 0;
}

.car-container {
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);

}

.car-image:hover {
  transform: scale(1.5);
}

.bike-image {
  height: 200px;
  width: 300px;
  object-fit: cover;

  overflow: hidden;

  position: relative;

  z-index: 0;
}

.bike-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);

}

.bike-image:hover {
  transform: scale(1.5);
}